extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/comunicacion.js")
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
  .well.span7.offset2  
    h1 Inicio de sesión correcto 
    hr
    h4 Bienvenido a la aplicación #{username}
    form.form-horizontal()#loginSubmit.well.span5
      div.control-group
        label.control-label(for='totalprocesos') Total de Procesos
        div.controls
          input(id="totalprocesos" name="totalprocesos",type="text",placeholder="obteniendo iformacion...",required).span3.totalprocesos
      div.control-group
        label.control-label(for="ejecutandose") Procesos en Ejecucion
        div.controls
          input(id="ejecutandose" name="ejecutandose",type="text",placeholder="obteniendo informacion...",required).span3.ejecutandose
      div.control-group
        label.control-label(for="suspendidos") Procesos Suspendidos
        div.controls
          input(id="suspendidos" name="suspendidos",type="text",placeholder="obteniendo informacion...",required).span3.suspendidos
      div.control-group
        label.control-label(for="detenidos") Procesos Detenidos
        div.controls
          input(id="detenidos" name="detenidos",type="text",placeholder="obteniendo informacion...",required).span3.detenidos
      div.control-group
        label.control-label(for="zombie") Procesos Zombie
        div.controls
          input(id="zombie" name="zombie",type="text",placeholder="obteniendo informacion...",required).span3.zombie

    hr2

      form.form-horizontal()#CPUSubmit.well.span5
        h4 Monitor del CPU
        div.control-group
          label.control-label(for='porcentajeCPU') Porcentaje de Utilizacion CPU
          div.controls
            input(id="porcentajeCPU" name="porcentajeCPU",type="text",placeholder="obteniendo iformacion...",required).span3.porcentajeCPU

    hr3

      form.form-horizontal()#RAMSubmit.well.span5
        h5 Monitor de RAM
        div.control-group
          label.control-label(for='porcentajeRAM') Porcentaje de Utilizacion RAM
          div.controls
            input(id="porcentajeRAM" name="porcentajeRAM",type="text",placeholder="obteniendo iformacion...",required).span3.porcentajeCPU

    hr4

    table(style='width:80%')#DetalleProc.well.span5
      caption Detalle Procesos
      tr
        th Nombre
        th Ram
        th Estado
        th Usuario
        th PID
      tr
        td Prueba
        td 5
        td Suspendido
        td ubuntu
        td 1024

    a.btn.btn-danger(href="logout") Cerrar Sesión